@page "/about"  

<div class="about-section">
    <h1>About Us</h1>
    <p>TravelMaple is a travel and itinerary planner catered towards young travelers who seek a quick getaway or a long vacation without the stress that often comes with travel preparation. Our platform streamlines the creation and organization of holiday plans, removing the hassle of planning and leaving just the fun instead. With TravelMaple, users can focus on what truly matters—having fun and making unforgettable memories during their adventures. </p>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="fullsd_jiahui.jpg" alt="Team Member 1" style="width:25%">
                <div class="container">
                    <h2>Jia Hui</h2>
                    <p class="title">Team Member 1</p>
                    <p>In charge of...</p>
                    <ul type="a">
				        <li>Login Page</li>
				        <li>Settings</li>
				        <li>About Us</li>
			        </ul>
                    <p>realEmail@gmail.com</p>
                    <p>+65 12345678</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="fullsd_kaiser.jpg" alt="Team Member 2" style="width:25%">
                <div class="container">
                    <h2>Kaiser</h2>
                    <p class="title">Team Member 2</p>
                    <p>In charge of...</p>
                    <ul type="a">
                        <li>Trips</li>
                        <li>Trip Details/Creation</li>
                        <li>User Details</li>
                    </ul>
                    <p>realEmail2@gmail.com</p>
                    <p>+65 87654321</p>
                </div>
            </div>
        </div>
    </div>
</div>
