@page "/travelmapleusers/edit"
@using Microsoft.EntityFrameworkCore
@using TravelMaple.Domain
@inject IDbContextFactory<TravelMaple.Data.TravelMapleContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>TravelMapleUser</h2>
<hr />
@if (TravelMapleUser is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="TravelMapleUser" OnValidSubmit="UpdateTravelMapleUser" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="TravelMapleUser.Id" value="@TravelMapleUser.Id" />
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="TravelMapleUser.FirstName" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="TravelMapleUser.LastName" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="emailaddress" class="form-label">EmailAddress:</label>
                    <InputText id="emailaddress" @bind-Value="TravelMapleUser.EmailAddress" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.EmailAddress" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="TravelMapleUser.DateCreated" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="TravelMapleUser.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="TravelMapleUser.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="TravelMapleUser.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => TravelMapleUser.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/travelmapleusers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private TravelMapleUser? TravelMapleUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        TravelMapleUser ??= await context.TravelMapleUser.FirstOrDefaultAsync(m => m.Id == Id);

        if (TravelMapleUser is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTravelMapleUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(TravelMapleUser!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TravelMapleUserExists(TravelMapleUser!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/travelmapleusers");
    }

    private bool TravelMapleUserExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.TravelMapleUser.Any(e => e.Id == id);
    }
}
