@page "/transportmodes/create"
@using Microsoft.EntityFrameworkCore
@using TravelMaple.Domain
@inject IDbContextFactory<TravelMaple.Data.TravelMapleContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>TransportMode</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="TransportMode" OnValidSubmit="AddTransportMode" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="TransportMode.Name" class="form-control" /> 
                <ValidationMessage For="() => TransportMode.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="TransportMode.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => TransportMode.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="TransportMode.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => TransportMode.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="TransportMode.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => TransportMode.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="TransportMode.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => TransportMode.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/transportmodes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private TransportMode TransportMode { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTransportMode()
    {
        using var context = DbFactory.CreateDbContext();
        context.TransportMode.Add(TransportMode);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/transportmodes");
    }
}
