@page "/trips/create"
@using Microsoft.EntityFrameworkCore
@using TravelMaple.Domain
@inject IDbContextFactory<TravelMaple.Data.TravelMapleContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Trip</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Trip" OnValidSubmit="AddTrip" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>       
            <div class="mb-3">
                <label for="duration" class="form-label">Duration (days):</label> 
                <InputNumber id="duration" @bind-Value="Trip.Duration" class="form-control" /> 
                <ValidationMessage For="() => Trip.Duration" class="text-danger" /> 
            </div>            
            <div class="mb-3">
                <label for="duration" class="form-label">Estimated Budget:</label>
                <InputNumber id="duration" @bind-Value="Trip.EstBudget" class="form-control" />
                <ValidationMessage For="() => Trip.EstBudget" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="datecreated" class="form-label">Start Date:</label> 
                <InputDate id="datecreated" @bind-Value="Trip.StartDate" class="form-control" /> 
                <ValidationMessage For="() => Trip.StartDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">End Date:</label> 
                <InputDate id="dateupdated" @bind-Value="Trip.EndDate" class="form-control" /> 
                <ValidationMessage For="() => Trip.EndDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Trip.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Trip.CreatedBy" class="text-danger" /> 
            </div>      
                       <div class="mb-3">
            <label for="aim" class="form-label">Travel Aim:</label>
                <select id="travelAim" @bind-Value="Trip.Aim" class="form-control">
                <option value="">Select an aim</option> <!-- Default option -->
                <option value="Relaxation">Relaxation</option>
                <option value="Exploration">Exploration</option>
                <option value="Adventure">Adventure</option>
            </select>
            <ValidationMessage For="() => Trip.Aim" class="text-danger" />
        </div> 
                
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/trips">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Trip Trip { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTrip()
    {
        using var context = DbFactory.CreateDbContext();
        context.Trip.Add(Trip);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/trips");
    }
}
