@page "/trips/edit"
@using Microsoft.EntityFrameworkCore
@using TravelMaple.Domain
@inject IDbContextFactory<TravelMaple.Data.TravelMapleContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Trip</h2>
<hr />
@if (Trip is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Trip" OnValidSubmit="UpdateTrip" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Trip.Id" value="@Trip.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Trip.Name" class="form-control" />
                    <ValidationMessage For="() => Trip.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration:</label>
                    <InputNumber id="duration" @bind-Value="Trip.Duration" class="form-control" />
                    <ValidationMessage For="() => Trip.Duration" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="destination" class="form-label">Destination:</label>
                    <InputText id="destination" @bind-Value="Trip.Destination" class="form-control" />
                    <ValidationMessage For="() => Trip.Destination" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="estbudget" class="form-label">Estimated Budget:</label>
                    <InputNumber id="estbudget" @bind-Value="Trip.EstBudget" class="form-control" />
                    <ValidationMessage For="() => Trip.EstBudget" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="startdate" class="form-label">Start Date:</label>
                    <InputDate id="startdate" @bind-Value="Trip.StartDate" class="form-control" />
                    <ValidationMessage For="() => Trip.StartDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="enddate" class="form-label">End Date:</label>
                    <InputDate id="enddate" @bind-Value="Trip.EndDate" class="form-control" />
                    <ValidationMessage For="() => Trip.EndDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="aim" class="form-label">Aim:</label>
                    <InputSelect id="aim" @bind-Value="Trip.Aim" class="form-control">
                        <option value="">Select the aim of your trip</option>
                        <option value="Relaxation">Relaxation</option>
                        <option value="Exploration">Exploration</option>
                        <option value="Adventure">Adventure</option>
                    </InputSelect>
                    <ValidationMessage For="() => Trip.Aim" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">Date Created:</label>
                    <InputDate id="datecreated" @bind-Value="Trip.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Trip.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">Date Updated:</label>
                    <InputDate id="dateupdated" @bind-Value="Trip.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Trip.DateUpdated" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/trips">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Trip? Trip { get; set; }

    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }

        using var context = DbFactory.CreateDbContext();
        Trip ??= await context.Trip.FirstOrDefaultAsync(m => m.Id == Id);

        if (Trip is null)
        {
            NavigationManager.NavigateTo("notfound");
        } 
    }

    

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTrip()
    {
        using var context = DbFactory.CreateDbContext();

        Trip.UpdatedBy = userId;
        Trip.DateUpdated = DateTime.Now;

        context.Attach(Trip!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TripExists(Trip!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/trips");
    }

    private bool TripExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Trip.Any(e => e.Id == id);
    }

}
