@page "/trips"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelMaple.Domain
@using TravelMaple.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelMaple.Data.TravelMapleContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Trip Summaries</h1>

<p>
    <a href="trips/create">Create New Trip</a>
</p>

<QuickGrid Class="table" Items="context.Trip">
    <PropertyColumn Property="trip => trip.Name" />
    <PropertyColumn Property="trip => trip.Duration" />
    <PropertyColumn Property="trip => trip.Destination" />
    <PropertyColumn Property="trip => trip.EstBudget" />
    <PropertyColumn Property="trip => trip.StartDate" />
    <PropertyColumn Property="trip => trip.EndDate" />
    <PropertyColumn Property="trip => trip.Aim" />


    <TemplateColumn Context="trip">
        <a href="@($"trips/edit?id={trip.Id}")">Edit</a> |
        <a href="@($"trips/details?id={trip.Id}")">Details</a> |
        <a href="@($"trips/delete?id={trip.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelMapleContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
